{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}Demo{% endblock %}

{% block body %}
<section class="page-section bg-dark text-white">
    <div class="container px-4 px-lg-5 text-center">
        <!--change title-->
        <h2 class="mb-4">Try It Out</h2>
        <br>
        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">

        </iframe>
        <br>
        <br>
        <a class="btn btn-light btn-xl" href="results">I'm Done!</a>
    </div>
</section>
{% endblock %}